* {
	font-family: cursive;
	text-decoration: none;
}


/*ADICIONAR PEDIDO*/



/*PENDENTES*/
.cabecalho {
	text-align: center;
	padding: 10px;
  border-color: 4px solid #000000;
  background-color: #2a1919;
  color: white;
  position: sticky;
  top: 0;

}

.cabecalho-nome {
  font-size: 20px;
}

.principal {
	padding: 5px;
	max-width: 100%;
}

.principal-busca {
	text-align: center;
	padding: 20px;
}

.container {
  max-width: 100%;
	display: flex;
	margin: 1%;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
  color: white;
}

.cards .red {
  background-color: #f43f5e;
}

.cards .blue {
  background-color: #3b82f6;
}

.cards .green {
  background-color: #22c55e;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}
.organizando {
  width: 100%;
}

.lista {
  display: flex;
  margin-top: 1.5%;
	max-width: 100%;
	border: 2px solid black;
}

.lista-elemento {
  display: flex;
  flex-direction: row;
  gap: 20px;
	margin: 20px;
}

.lista-elemento-info {
  text-align: center;
  border-right: 2px solid black;
}

.numero {
	padding: 6px;
}

.horas {
  margin: 5px;
}

.lista-linha {
	border-bottom: 2px solid black;
  margin-left: 1%;
}

.lista-detalhes {
	display: flex;
	justify-content: left;

}

.lista-detalhes-pedido {
  color: white;
	padding: 5px;
	margin: 10px;
	border-radius: 10px;
}

.lista-edit {
  align-items: right;
}

.lista-edit-edit {
  background-color: #2232c5;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 10%;
  text-align: center;
}
.lista-edit-del {
  background-color: #c52222;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 10%;
  text-align: center;
}

.preco {
  margin: 13px;
}


